
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../images/background-inscription.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
width: 100vw;
font-family: 'Numans', sans-serif;
}

h1{
  color: white !important;
}

label{
  color: #FFC312;
  font-weight: bold;
}

button{
  background-color:#FFC312 !important;
  color: black !important;
}

button:hover{
  background-color:white !important;
  border: white;
  color: black !important;
}

.my-container{
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}